# Package

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

# Baca Data

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/Materi Semester 6/Data Mining (DM)/Data/soal.csv')
train = train.drop(columns=['Unnamed: 0','X'])
train

,jml_art,atap,dinding,lantai,fasbab,penerangan,airminum,miskin,ltkapita
0,3,1,1,1,1,1,1,2,24.00
1,6,2,3,1,1,2,2,1,8.00
2,6,1,1,1,1,1,1,2,15.00
3,5,1,1,1,1,1,1,2,14.40
4,2,1,1,1,1,1,1,2,10.00
...,...,...,...,...,...,...,...,...,...
71,4,1,4,2,2,2,1,1,9.00
72,4,1,1,2,1,1,1,2,12.00
73,3,1,1,1,1,1,1,2,66.67
74,2,1,1,2,4,1,1,2,21.00
75,2,1,1,2,1,1,1,2,21.00

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/Materi Semester 6/Data Mining (DM)/Data/predict.csv', sep = ";")
test = test.drop(columns=['Unnamed: 0','X'])
test

    jml_art  atap  dinding  lantai  fasbab  penerangan  airminum  ltkapita
0         5     1        1       1       1           1         1     14.00
1         3     1        1       2       1           1         1     26.67
2         5     1        1       2       1           1         1     11.00
3         6     2        4       2       1           1         1      7.50
4         6     1        3       1       4           1         1      3.33
5         3     1        2       2       1           1         1      9.33
6         3     2        4       1       1           2         1      9.00
7         4     1        4       2       2           1         1      7.50
8         4     1        1       1       1           1         2      9.00
9         4     1        4       2       1           1         1      8.75
10        4     2        3       1       2           1         2      7.50
11        2     1        4       2       1           1         1     24.00
12        3     1        2       1       1           1         1     28.00
13        3     1        1       1       2           1         1     12.00
14        4     1        1       2       1           1         1     16.00
15        4     1        1       1       1           1         1     50.00
16        6     1        2       2       1           1         1     10.00
17        5     2        2       2       1           1         1      4.80
18        3     1        1       1       1           2         1     14.00

# Cek Data

In [ ]:
train.isna().sum()

jml_art       0
atap          0
dinding       0
lantai        0
fasbab        0
penerangan    0
airminum      0
miskin        0
ltkapita      0
dtype: int64

In [ ]:
X = train.drop(['miskin'],axis =1)
y =train['miskin']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
X_train.shape, X_test.shape

((60, 8), (16, 8))

In [ ]:
X_train.head()

    jml_art  atap  dinding  lantai  fasbab  penerangan  airminum  ltkapita
9         8     1        1       1       1           1         1      7.50
5         4     1        3       2       1           1         1      8.75
34        4     1        4       1       1           1         1     11.25
22        3     2        4       1       1           1         2      9.00
30        5     1        1       1       1           1         1     27.00

In [ ]:
!pip install --upgrade category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.9/dist-packages (2.6.0)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)

In [ ]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['atap', 'dinding', 'lantai', 'fasbab', 'penerangan', 'airminum'])


X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [ ]:
X_train.head()

    jml_art  atap  dinding  lantai  fasbab  penerangan  airminum  ltkapita
9         8     1        1       1       1           1         1      7.50
5         4     1        2       2       1           1         1      8.75
34        4     1        3       1       1           1         1     11.25
22        3     2        3       1       1           1         2      9.00
30        5     1        1       1       1           1         1     27.00

In [ ]:
X_test.head()

    jml_art  atap  dinding  lantai  fasbab  penerangan  airminum  ltkapita
4         2     1        1       1       1           1         1     10.00
35        6     1        1       1       1           1         1     13.33
10        4     1        3       1       1           2         2      9.00
0         3     1        1       1       1           1         1     24.00
45        2     1        1       1       1           1         1     36.00

# Model Random Forest

In [ ]:
# import Random Forest classifier

from sklearn.ensemble import RandomForestClassifier

# instantiate the classifier 

rfc = RandomForestClassifier(random_state=0)

# fit the model

rfc.fit(X_train, y_train)

# Predict the Test set results

y_pred = rfc.predict(X_test)

# Check accuracy score 

from sklearn.metrics import accuracy_score

print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with 10 decision-trees : 0.9375

In [ ]:
# instantiate the classifier with n_estimators = 500

rfc_500 = RandomForestClassifier(n_estimators=500, random_state=0)


# fit the model to the training set

rfc_500.fit(X_train, y_train)



# Predict on the test set results

y_pred_500 = rfc_500.predict(X_test)



# Check accuracy score 

print('Model accuracy score with 500 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred_500)))

Model accuracy score with 500 decision-trees : 0.9375

In [ ]:
# create the classifier with n_estimators = 100

clf = RandomForestClassifier(n_estimators=100, random_state=0)


# fit the model to the training set

clf.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [ ]:
# view the feature scores

feature_scores = pd.Series(clf.feature_importances_, index=X_train.columns).sort_values(ascending=False)

feature_scores

ltkapita      0.406607
dinding       0.340761
jml_art       0.086397
penerangan    0.060369
airminum      0.041328
lantai        0.025357
atap          0.019619
fasbab        0.019563
dtype: float64

In [ ]:
# Print the Confusion Matrix and slice it into four pieces

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

print('Confusion matrix\n\n', cm)

Confusion matrix

 [[ 3  0]
 [ 1 12]]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.75      1.00      0.86         3
           2       1.00      0.92      0.96        13

    accuracy                           0.94        16
   macro avg       0.88      0.96      0.91        16
weighted avg       0.95      0.94      0.94        16

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.datasets import load_digits
import matplotlib.pyplot as plt
digits = load_digits()
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [ ]:
score_lr=cross_val_score(RandomForestClassifier(n_estimators=100, random_state=0), X,y,cv=10)
print(score_lr)
print("Avg :",np.average(score_lr))

[1.         0.875      1.         0.875      1.         0.75
 0.85714286 1.         1.         1.        ]
Avg : 0.9357142857142857

# Prediksi

In [ ]:
y_pred_test = clf.predict(test)
y_pred_test

array([2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2])